#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#wrapper > main {
    height: calc(100% - 90px);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}